<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title,links,styles)">
    <meta charset="UTF-8">
    <script src="/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/element.css">
    <!-- 引入组件库 -->
    <script src="/element.js"></script>
    <script src="/axios.min.js"></script>
    <script src="/cookies.js"></script>
    <script>
        axios.interceptors.request.use(config => {

            // 为请求头添加token 验证的 Authorization 字段
            config.headers.Authorization = "Bearer "+ window.localStorage.getItem('token')
            return config
        }, error => {
            return Promise.reject(error);
        });

        axios.interceptors.response.use(response => Promise.resolve(response),
            error => { // 这里对 error 预期结果是包含具体错误信息和状态码

                if (error && error.response && error.response.status) {
                    switch (error.response.status) {
                        case 500:
                            // do something...
                            break
                        case 404:
                            // do something...
                            break
                        default:
                            location.href="/path?url=admin/login"
                            break
                    }
                }
            });
    </script>
    <script src="/req/menu.js"></script>
    <script src="/req/user.js"></script>
    <title th:replace="${title}">Title</title>
    <style th:replace="${styles}"></style>
</head>
<body>

</body>
</html>