<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header :: common_header(~{::title},~{::link},~{})">
    <meta charset="UTF-8">
    <title>zhiyigoCms管理界面</title>
    <style>

    </style>
</head>
<body>
<div>
<div  id="app">
    <el-row>
        <el-button type="primary" @click="addData">新增</el-button>
    </el-row>
    <el-table
            :data="datalist"
            border
            style="width: 100%">

        <el-table-column
                :prop="item.filedName"
                :label="item.filedCnName" v-for="item in columns">
        </el-table-column>
        <el-table-column
                fixed="right"
                label="操作"
                width="100">
            <template slot-scope="scope">
                <el-button @click="handleEditClick(scope.row)" type="text" size="small">编辑</el-button>
                <el-button @click="handleDelClick(scope.row)" type="text" size="small">删除</el-button>
            </template>
        </el-table-column>
    </el-table>
    <el-dialog
            title="提示"
            :visible.sync="dialogVisible"
            width="30%">
        <el-form :inline="true" :model="formdata" >
            <el-form-item :label="item.filedCnName" v-for="item in columns">
                <el-input v-model="formdata[item.filedName]" ></el-input>
            </el-form-item>
        </el-form>
    <el-button @click="dialogVisible = false">取 消</el-button>
    <el-button type="primary" @click="saveData">确 定</el-button>
  </span>
    </el-dialog>
</div>
</div>
<script>
    new Vue({
            el: '#app',
        async created() {
                await this.getBaseInfo();
                this.getAllData()
            },
        async mounted() {

            },
            data: {
                datalist:[],
                columns:[],
                url:"",
                dialogVisible:false,
                formdata:{}
            },
            methods: {
                addData(){


                    for (const argumentsKey in this.formdata) {
                        this.formdata[argumentsKey]='';
                    }
                    this.dialogVisible=true;
                },
                async getBaseInfo(){
                    let {data}=await axios.get("/mod",{})
                    data=data.data;
                    console.log(data);
                    this.url=this.url+data.api;
                    this.columns=data.columns;
                    return data
                },
                async getAllData(){

                    let {data}=await axios.get(this.url,{})
                    this.datalist=data
                },
                coppyArray (obj){
                    let newObj = null
                    if (typeof obj === 'object' && obj !== null) {
                        newObj = obj instanceof Array ? [] : {}
                        for (let i in obj) {
                            newObj[i] = typeof obj[i] === 'object' ? this.coppyArray(obj[i]) : obj[i]
                        }
                    } else {
                        newObj = obj
                    }
                    return newObj
                },
                handleEditClick(item){
                    console.log(item)
                    this.formdata=this.coppyArray(item);
                    this.dialogVisible=true;
                },
                async handleDelClick(item){
                    let {data}=await axios.delete(this.url,{data:item});
                    this.getAllData();
                },
                async saveData(){
                    let {data}=await axios.post(this.url,this.formdata);
                    this.dialogVisible=false;
                    this.getAllData();
                }


            }


        })

</script>
</body>
</html>