<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<div th:fragment="adminnav">
<div id="head" class="container">
    <div class="head_logo leftfloat">
        <a href="#">
            <img src="/images/logo.gif" alt="" title="" />
        </a>

    </div>
    <ul class="head_menu rightfloat">

        <li>

            <a href="/">
                首页
            </a>
        </li>
        <li>

            <a href="#">
                关于我们
            </a>
        </li>
        <li>

            <a href="#">
                客户案例
            </a>
        </li>
        <li>

            <a href="#">
                服务项目
            </a>
        </li>

        <li>

            <a href="#">
                新闻资讯
            </a>
        </li>
        <li>

            <a href="#">
                联系我们
            </a>
        </li>
    </ul>

</div>
</div>
</html>